%h1 Send a message
%p Enter details below

= form_for @message, url: {action: "create"} do |f|
  = f.label :title
  = f.text_field :title
  = f.label :header
  = f.text_field :header
  = f.label :body
  = f.text_field :body
  = f.label :icon
  = f.select :icon, @smiley_faces
  = f.label :printer
  = f.select :printer, @printers
  = f.submit
