%h1 Message#new
%p Find me in app/views/message/new.html.haml

= form_for @message, url: {action: "create"} do |f|
  = f.text_field :title
  = f.text_field :header
  = f.text_field :body
  = f.select :smiley_face, ['1', '2']
  = f.select :printer, ['Printer 1', 'Printer 2']
  = f.submit
