%h1 Send a message
%p Enter details below

= form_for @message, url: {action: "create"} do |f|
  = f.text_field :title
  = f.text_field :header
  = f.text_field :body
  = f.select :smiley_face, @smiley_faces
  = f.select :printer, @printers
  = f.submit
