#preview
  = form_for @message, url: {action: "create"} do |f|
    .image-container
      =image_tag("https://s3-eu-west-1.amazonaws.com/simply-buzzin-icons/boy_face_01.png", :class => "face-image")
      %span.zoom-icon
        %a.refresh-link
    .top-section
      %h1#inplace-title.edit
        = "Title"
      %h2#inplace-header.edit
        = "Header"
      .main-text{:style => "font-size: 18px; margin: 10px; background-color: #ffffff, color: #000000; padding: 10px"}
        %pre#inplace-body.edit_area
          = "Enter your text here..."
    = f.submit "Print", {:class => "submit-button"}
    = f.select :printer, options_for_printers

    = f.hidden_field :title
    = f.hidden_field :header
    = f.hidden_field :body
    = f.hidden_field :icon
